/* RESET CSS */

* {
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* IMG Adaptative */
img {
  max-width: 100%;
  display: block;
}

/* Navegação */

.bg-header {
  background: #000;
}

.flex-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.flex-letter {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.flex-letter a {
  color: #ffffff;
  padding: 1rem 0rem;
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  position: relative;
}

.flex-letter a::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 0;
  background: #ffffff;
  margin-top: 0.02 rem;
  transition: 0.4s;
}

.flex-letter a:hover:after {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .flex-letter a {
    background-color: #111111;
    padding: 0.7rem 0.9rem;
    border-radius: 0.3rem;
  }
  .flex-letter a:hover {
    background-color: #2e2e2e;
  }
  .flex-letter a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .flex-letter a {
    font-size: 0.925rem;
  }
}
