:root {
  --cor-00: #ffffff;
  --cor-01: #f7f7f7;
  --cor-02: #ededed;
  --cor-03: #dedede;
  --cor-04: #cccccc;
  --cor-05: #b2b2b2;
  --cor-06: #9c9c9c;
  --cor-07: #717171;
  --cor-08: #595959;
  --cor-09: #404040;
  --cor-10: #2e2e2e;
  --cor-11: #111111;
  --cor-12: #000000;
  --cor-p5: #332200;
  --cor-p4: #664400;
  --cor-p3: #a66f00;
  --cor-p2: #e4a30b;
  --cor-p1: #ffbb00;
  --bg-01: #000;
  --bg-02: #111111;
  --bg-03g: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
}
.cor-0 {
  color: var(--cor-00);
}
.cor-1 {
  color: var(--cor-01);
}
.cor-2 {
  color: var(--cor-02);
}
.cor-3 {
  color: var(--cor-03);
}
.cor-4 {
  color: var(--cor-04);
}
.cor-5 {
  color: var(--cor-05);
}
.cor-6 {
  color: var(--cor-06);
}
.cor-7 {
  color: var(--cor-07);
}
.cor-8 {
  color: var(--cor-08);
}
.cor-9 {
  color: var(--cor-09);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.bg-01 {
  background: var(--bg-01);
}
.bg-02 {
  background: var(--bg-02);
}
.bg-03g {
  background-color: var(--bg-03g);
}
