.large-text-h1 {
  font-family: Poppins;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
}

.medium-text-p {
  font-family: Roboto;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 2.1rem; /* 150% */
}
