.int-bg {
  background: #000;
  color: #fff;
  padding-top: 1rem;
  box-shadow: 0 102px 0 #ffffff;
  margin-bottom: 10rem;
}

.int-flex {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 2.1rem;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.int-conteudo {
  align-self: end;
  padding-bottom: 4rem;
}

.int-flex p,
a {
  grid-column: 1;
}

.int-flex img {
  grid-column: 2;
}

.int-conteudo a:hover {
  background: linear-gradient(180deg, #e9af00 0%, #cf8b02 100%);
}

.little-point {
  color: #fb0;
  font-family: Poppins;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.5rem;
}

.int-flex img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.int-img {
  margin-bottom: -8.25rem;
}

@media screen and (max-width: 1200px) {
  .int-conteudo h1,
  .little-point {
    font-size: 3rem;
  }
  .int-conteudo p {
    font-size: 1.25rem;
  }
  .int-conteudo a {
    padding: 0.8rem 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .int-conteudo h1,
  .little-point {
    font-size: 3.8rem;
    margin-bottom: 0.6rem;
    line-height: 4rem;
  }
  .int-bg {
    background: #111111;
    box-shadow: 0 60px 0;
  }
  .int-flex {
    grid-template-columns: 1fr;
  }
  .int-conteudo {
    padding: 0;
  }
  .int-conteudo p {
    font-size: 1.15rem;
  }
  .int-flex img {
    height: 300px;
    width: 100%;
  }
}

@media screen and (max-width: 335px) {
  .int-conteudo h1 {
    font-size: 2.2rem;
    line-height: 1;
  }
}
